<h1><strong>My Boards</strong></h1>

<% @boards.each do |board| %>
  <div class="card-details mb-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-details-infos">
        <h3><%= board.name %></h3>
      </div>
      <div class="card-details-buttons p-3">
        <%= link_to 'Details', board, class: "btn btn-primary" %>
        <%= link_to 'Delete', board_path(board), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-light" %>
      </div>
  </div>
<% end %>

<%= link_to "Back to Profile", user_profile_path, class: "btn btn-ghost mt-3" %>
