// Index Cards
.card-board, .card-board-single {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-board > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-board-single > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.card-board h2, .card-board-single h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-board p, .card-board-single p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-board .card-board-infos, .card-board-single .card-board-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-board-infos a.btn {
  margin: 5px 5px 0 0;
}

.card-board-infos .card-board-user, .card-board-single .card-board-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Detail Cards
.card-details {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-details img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-details h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-details p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-details .card-details-infos {
  padding: 16px;
}

.card-details-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}
