.sup-content {
  margin-bottom: 100px;
}

.sup-content h1 {
  padding: 20px;
  font-weight: bold;
}

.sup-navbar .navbar-brand img {
  width: 100px !important;
}

.sup-navbar .navbar-brand h1 {
  vertical-align: middle;
  display: inline-block;
  font-size: 3em;
}

.sup-tar {
  text-align: right;
}
